@charset "utf-8";
.khoahoc{position: relative;
overflow: hidden;
}

.KhoahocCaption{position: absolute;
	top: 5%;
	left: 5%;
	background: rgba(232,16,19,0.5);
	color: white;
	width: 90%;
	height: 80%;
	text-align:center;
	opacity: 0;
	transition: 1s;
	transform: scale(0);
}

.banner{position: relative;}
.banner-caption{
	position: absolute;
	top: 10%;
	left: 25%;
	background: rgba(255,0,4,0.5);
	text-align: center;
	width: 50%;
	padding: 20px 10px
}


.khoahoc:hover>.KhoahocCaption{
	opacity: 1;
	transform: scale(1);
	
}
.khoahoc img{
	
	transition: all 1s;
}

.khoahoc:hover>img{
	transform: scale(1.5);
}

@media (min-width:768px){
	.banner .img100 {
	height: 80vh;
	width: 150vw;
}
}

@media (min-width:1000px){
	.banner .img100 {
	width: 100%;
		height: auto;
}
}


